*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar
{
    width: 100%;
    background-color:  rgb(109, 109, 242);
    padding: 15px;
}
.container
{
    padding: 10px;
}
.notes
{
    padding: 15px;
    width: 24%;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: black;
    margin: 30px;
    box-shadow: none;
    vertical-align: top;
    display: inline-block;
}
.notes h1{
    color:  rgb(109, 109, 242);
    box-shadow: none;
}
.notes button
{
    color: rgb(255, 255, 255);
    background-color: rgb(109, 109, 242);
    border-radius: 14.5px;
    padding: 3px;
    border: solid;
    border-color:  rgb(109, 109, 242);
    width: 60px;
    margin-top: 10px;
    box-shadow: none;
}
.container :hover
{

    box-shadow: 8px 9px 4px #888888;
}
.notes :hover
{
    box-shadow: none;
}
.addnotes
{
    color: white;
    background-color:  rgb(109, 109, 242);
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    position: fixed;
    font-size: 40px;
    bottom: 30px;
    right: 30px;
}
.overlay
{
    backdrop-filter: blur(9.5px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: 0.3s;
}
.popbox
{
    background-color:  rgb(109, 109, 242);
    width: 33%;
    padding: 40px;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 30%;
    border-radius: 15px;
    display: none;
    transition: 0.3s;
}
.popbox input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    border-bottom:solid black 2px;
    padding: 5px;
}
.popbox textarea
{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    border:solid black 2px;
    padding: 5px;
}
.popbox input::placeholder{
    color: black;
    opacity: 0.6;
}
.popbox button
{
    color:  rgb(0, 0, 0);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    margin: 5px;
}
.popbox input:focus
{
    outline: none;
}
.popbox textarea::placeholder
{
    color: black;
    opacity: 0.6;
}
.popbox textarea::placeholder{
    outline: none;
}
.closebtn
{
    position: absolute;
    right: 8%;
}
.popbox h1{
    text-align: center;
}
